extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>帳號管理 <small>Accounts Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href=baseUrl+"/system/accounts")
                            <i class="icon-action-undo"> 回列表頁</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="#{baseUrl}/system/accounts">帳號管理</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">新增</a>
            </ul>
        <div>
    </div>

    <div class="modal-content">
        <form action="#{baseUrl}/system/accounts/store" method="POST">
            <div class="modal-header">
                <h4 class="modal-title">新增帳號</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <input type="hidden" name="_csrf" value="#{result._token}"/>
                        <div class="col-md-12 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="form-group form-md-line-input">
                                            if(result.allDepartment)
                                                <select class="form-control select2me"  name="department">
                                                    each row in result.allDepartment
                                                        option( value=row.ME001 selected=onSelected ) #{row.ME002}
                                                </select>
                                            <label for="form_control_0">使用者部門</label>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="checkbox" name="super_user" class="make-switch" data-size="small">
                                            <label >是否為超級帳號</label>
                                            <input type="checkbox" name="is_active" checked class="make-switch" data-size="small">
                                            <label >是否啟用帳號</label>
                                            <input type="checkbox" name="is_can_edit" class="make-switch" data-size="small">
                                            <label >可新增或編輯</label>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control"  id="form_control_2" name="account" data-request="true" placeholder="輸入帳號"  value="">
                                            <label for="form_control_2">帳號</label>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control"  id="form_control_3" name="user_name" data-request="true" placeholder="輸入帳號姓名"  value="">
                                            <label for="form_control_3">使用者姓名</label>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control"  id="form_control_4" name="email" data-request="true" placeholder="請輸入可收信的信箱"  value="">
                                            <label for="form_control_4">連絡信箱</label>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control"  id="form_control_4" name="ip" data-request="true" placeholder="請輸入該名用戶電腦ip"  value="">
                                            <label for="form_control_4">電腦IP</label>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="password" class="form-control"  id="form_control_4" name="_password" data-request="true" placeholder="請輸入六位數以上密碼"  value="">
                                            <label for="form_control_4">密碼</label>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">關閉</button>
                <button type="button"  class="btn green submitBtn">儲存</button>
            </div>
        </form>
    </div>
block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
block script
    <script src="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    <script src="/javascripts/tag.js"></script>
    <script src="/javascripts/submit.js"></script>
    if(result.errMessage)
        <script> swal("發生錯誤！","#{result.errMessage}", "error"); </script>