<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            if systemMenu
                each menu in systemMenu
                    <li>
                        a(href=baseUrl+menu.link)
                            if menu.icon
                                <i class=#{menu.icon}></i>
                            <span class="title">#{menu.title}</span>
                    </li>
            if( loginUser.ProductPermission.can_see )
                <li>
                    a(href=baseUrl+"/system/prototype")
                        <i class="icon-puzzle"></i>
                        <span class="title">產品設計</span>
                </li>
            if( loginUser.super_user )
                <li>
                    a(href=baseUrl+"/system/firmscore")
                        <i class="icon-book-open"></i>
                        <span class="title">供應商評比</span>
                </li>
                <li>
                    a(href=baseUrl+"/system/accounts")
                        <i class="icon-users"></i>
                        <span class="title">帳號管理</span>
                </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!--END SIDEBAR-->