extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>產品設計 <small>Product Design Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href=baseUrl+"/system/prototype")
                            <i class="icon-action-undo"> 回列表頁</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="#{baseUrl}/system/prototype">產品設計列表</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">新增</a>
            </ul>
        <div>
    </div>

    <div class="modal-content"  >
        <div class="modal-header">
            <h4 class="modal-title">新增產品設計</h4>
        </div>
        <div class="modal-body">
            <div data-always-visible="1" data-rail-visible1="1">
                <form id="proStore">
                    <div class="row">
                        <input type="hidden" name="_csrf" value="#{_token}"/>
                        <div class="col-md-12 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        //- <div class="form-group form-md-line-input">
                                        //-     if(category)
                                        //-         <select class="form-control select2me"  name="cate_id" >
                                        //-             each row in category
                                        //-                 option( value=row.id ) #{row.title}
                                        //-         </select>
                                        //-     <label for="form_control_0">設計類別</label>
                                        //- </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control"  id="form_control_1" name="title" data-request="true" placeholder="輸入樣式標題"  value="">
                                            <label for="form_control_1">樣式標題（禁用「/」）</label>
                                        </div>
                                        //- <div class="form-group form-md-line-input">
                                        //-     <input type="text" class="form-control"  id="form_control_1" name="slogan"  placeholder="輸入設計樣式簡述"  value="">
                                        //-     <label for="form_control_1">設計樣式簡述</label>
                                        //- </div>
                                        //- <div class="form-group form-md-line-input">
                                        //-     <textarea type="text" class="form-control"  id="form_control_1" name="content"  placeholder="樣式討論紀錄" ></textarea>
                                        //-     <label for="form_control_1">樣式討論紀錄</label>
                                        //- </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="file" class="form-control" id="form_control_2" name="photoes" multiple accept=".png, .jpg, .jpeg" data-request="true" placeholder="選擇樣式圖片上傳">
                                            <label for="form_control_2">上傳圖檔</label>
                                            <span class="help-block">上傳此同一設計樣式圖片檔案</span>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <input type="text" id="tags_1" class="form-control tags"  id="form_control_4" name="keyword" placeholder="輸入產品樣式關鍵字" value="">
                                            <label for="form_control_4">關鍵字，用來搜尋出相同關鍵字樣式</label>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a data-dismiss="modal" class="btn default">關閉</a>
            <a class="btn green submitBtn">儲存</a>
        </div>
    </div>
block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
    
block script
    <script src="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    <script src="/javascripts/tag.js"></script>
    <script src="/javascripts/product_store.js"></script>
    //- <script src="/javascripts/submit.js"></script>
    //- if(result.errMessage)
    //-     <script> swal("有必填欄位空白。","#{result.errMessage}", "error"); </script>