<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    include includes/css.pug
    <link href="/plugin/editor/summernote.css" rel="stylesheet">
  </head>
  <body>
    <form action="http://localhost:8899/editPost" method="POST" enctype="multipart/form-data" >
      <textarea class="drag-text" name="content">testet</textarea>
      <a id="submti">送出</a>
    </form>
    include includes/script.pug
    <script src="/plugin/editor/summernote.js"></script>
    <script src="/javascripts/editor.js"></script>
  </body>
  
</html>
