extends dashboard

block content
    <div class="page-head">
        <h1>Dashboard <small>statistics & reports</small></h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font-color hide"></i>
                        <span class="caption-subject theme-font-color bold uppercase">最新聯絡單</span>
                        <span class="caption-helper">#{connect.datas.length} 筆</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                if( connect.datas.length > 0 )
                                    each row in connect.datas
                                        - var has_edit = (row.Change.length > 0 )? "有修改" :""
                                        - var is_see = ( row.is_see )? "已讀" : "未讀"
                                        - var see_class = ( row.is_see )? "label-success" : "label-danger"
                                        <li>
                                            <div class="task-title">
                                                <span class="task-title-sp">
                                                    a(href=baseUrl+"/system/connection/show/"+row.id) #{row.title}
                                                </span>
                                                if( has_edit )
                                                    <span class="label label-sm label-danger">#{has_edit}</span>
                                                <span class="label label-sm #{see_class}">#{is_see}</span>
                                                if( row.is_delete )
                                                    <span class="label label-sm label-danger">此筆已刪除，其他人看不到</span>
                                            </div>
                                        </li>
                            </ul>
                            <!-- END START TASK LIST -->
                        </div>
                    </div>
                    <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="#{baseUrl}/system/connection">查看所有聯絡單</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font-color hide"></i>
                        <span class="caption-subject theme-font-color bold uppercase">最新公告訊息</span>
                        <span class="caption-helper">#{News.length} 筆</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                if( News.length > 0 )
                                    each row in News
                                        - var is_see = ( row.is_see )? "已讀" : "未讀"
                                        - var see_class = ( row.is_see )? "label-success" : "label-danger"
                                        <li>
                                            <div class="task-title">
                                                <span class="task-title-sp">
                                                    a(href=baseUrl+"/system/news/show/"+row.id) #{row.title}
                                                </span>
                                                <span class="label label-sm #{see_class}">#{is_see}</span>
                                                if( row.is_delete )
                                                    <span class="label label-sm label-danger">此筆已刪除，其他人看不到</span>
                                            </div>
                                        </li>
                            </ul>
                            <!-- END START TASK LIST -->
                        </div>
                    </div>
                    <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="#{baseUrl}/system/news">查看所有公告</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font-color hide"></i>
                        <span class="caption-subject theme-font-color bold uppercase">近期車間即將上線相關提醒</span>
                        <span class="caption-helper">#{nearConnect.length} 筆</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                if( nearConnect.length > 0 )
                                    each row in nearConnect
                                        <li>
                                            <div class="task-title">
                                                <span class="task-title-sp">
                                                    a(href=baseUrl+"/system/connection/show/"+row.id) #{row.title}
                                                </span>
                                            </div>
                                        </li>
                            </ul>
                            <!-- END START TASK LIST -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

block script
    <script src="/assets/reload.js"></script>