extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>聯絡單管理 <small>Connection Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href=baseUrl+"/system/connection")
                            <i class="icon-action-undo"> 回列表頁</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="#{baseUrl}/system/connection">聯絡單列表</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">修改</a>
            </ul>
        <div>
    </div>
    <div class="modal-content">
        <form action="#{baseUrl}/system/connection/update" method="POST">
            <div class="modal-header">
                <h4 class="modal-title">#{result.data.title} - 詳細聯絡單</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">

                        <div class="col-md-12 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light">
                                input(type="hidden" name="_csrf" value=result._token)
                                <div class="portlet-body form">
                                        <div class="form-body">
                                            <div class="form-group form-md-line-input">
                                                if(result.allDeparment)
                                                    <select class="form-control select2me" name="to_department" multiple="multiple">
                                                        each row in result.allDeparment
                                                            -var onSelected = ( result.Departs.indexOf(row.ME001)>0 )? `selected` : ``
                                                            <option value="#{row.ME001}" #{onSelected}>#{row.ME002}</option>
                                                    </select>
                                                <label for="form_control_0">聯絡對象部門</label>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control"  id="form_control_1" name="title" placeholder="輸入聯絡單標題" value="#{result.data.title}">
                                                <label for="form_control_1">聯絡單標題</label>

                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <input type="file" class="form-control" id="form_control_2" name="file" placeholder="Enter your email">
                                                <label for="form_control_2">附加檔案</label>
                                                <span class="help-block">上傳此聯絡單相關檔案</span>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <textarea class="form-control" rows="7" name="content" placeholder="Enter more text">#{result.data.content}</textarea>
                                                <label for="form_control_3">聯絡單內容</label>
                                            </div>
                                        </div>
                                </div>
                                
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">關閉</button>
                <button type="submit" class="btn green">儲存</button>
            </div>
        </form>
    </div>
block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css"/>
block script
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script src="/javascripts/tag.js"></script>