extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>聯絡單管理 <small>Connection Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href=baseUrl+"/system/connection")
                            <i class="icon-action-undo"> 回列表頁</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="#{baseUrl}/system/connection">聯絡單列表</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">新增</a>
            </ul>
        <div>
    </div>

    <div class="modal-content">
        <form action="#{baseUrl}/system/connection/store" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
                <h4 class="modal-title">新增聯絡單</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <input type="hidden" name="_csrf" value="#{result._token}"/>
                        <div class="col-md-12 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-body form">
                                        <div class="form-body">
                                            <div class="form-group form-md-line-input">
                                                if(result.allDeparment)
                                                    <select class="form-control select2me"  name="to_department" multiple="multiple">
                                                        each row in result.allDeparment
                                                            option( value=row.ME001 selected=onSelected ) #{row.ME002}
                                                    </select>
                                                <label for="form_control_0">聯絡對象部門</label>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control"  id="form_control_1" name="title" data-request="true" placeholder="輸入聯絡單標題"  value="">
                                                <label for="form_control_1">聯絡單標題</label>

                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <input type="file" class="form-control" id="form_control_2" name="addfile">
                                                <label for="form_control_2">附加檔案</label>
                                                <span class="help-block">上傳此聯絡單相關檔案</span>
                                            </div>
                                            //- <div class="form-group form-md-line-input has-success">
                                            //-     <textarea class="form-control" rows="7" name="content"  data-request="true" placeholder="輸入聯絡單內容"></textarea>
                                            //-     <label for="form_control_3">聯絡單內容</label>
                                            //- </div>
                                            <div class="form-group form-md-line-input">
                                                <input type="text" id="tags_1" class="form-control tags"  data-request="true" id="form_control_4" name="keyword" placeholder="輸入聯絡單關鍵字" value="">
                                                <label for="form_control_4">聯絡單關鍵字</label>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <input type="date" class="form-control tags" format="yyyy-mm-dd" min="#{result.today}" data-request="true" id="form_control_5" name="remind_date" placeholder="選擇聯絡單提醒日期" value="">
                                                <label for="form_control_5">聯絡單提醒日期</label>
                                            </div>
                                        </div>
                                </div>
                                
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">關閉</button>
                <button type="button"  class="btn green submitBtn">儲存</button>
            </div>
        </form>
    </div>
block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
    
block script
    <script src="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    <script src="/javascripts/tag.js"></script>
    <script src="/javascripts/submit.js"></script>
    if(result.errMessage)
        <script> swal("有必填欄位空白。","#{result.errMessage}", "error"); </script>