extends ../dashboard
block css 
    <style> .listHeight{ height : 550px; } </style>
block content
    <div class="row ">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>聯絡單管理 <small>Connection Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        if( result.canEdit )
                            a(class="btn" href=baseUrl+"/system/connection/create")
                                <i class="icon-plus"> 新增</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">聯絡單列表</a></li>
            </ul>

            <div class="row ">

                <div class="col-md-4 " >
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget listHeight">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font-color hide"></i>
                                <span class="caption-subject theme-font-color bold uppercase">收到的聯絡單</span>
                                <span class="caption-helper">#{result.datas.length} 筆</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="task-content">
                                <div class="scroller" style="height: 450px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                                    <!-- START TASK LIST -->
                                    <ul class="task-list">
                                        if( result.datas.length > 0 )
                                            each row in result.datas
                                                - var has_change = ( row.Change.length >0 )? "有修改": ""
                                                - var is_see = ( row.is_see )? "已讀" : "未讀"
                                                - var see_class = ( row.is_see )? "label-success" : "label-danger"
                                                <li>
                                                    <div class="task-title">
                                                        <span class="task-title-sp">
                                                            a( href=baseUrl+"/system/connection/show/"+row.id) #{row.title}
                                                        </span>
                                                        if( has_change )
                                                            <span class="label label-sm label-danger">#{has_change}</span>
                                                        <span class="label label-sm #{see_class}">#{is_see}</span>
                                                    </div>
                                                </li>
                                    </ul>
                                    <!-- END START TASK LIST -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                if( result.selfConn.length > 0 )
                    <div class="col-md-4 " >
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light tasks-widget listHeight">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart theme-font-color hide"></i>
                                    <span class="caption-subject theme-font-color bold uppercase">發出去的聯絡單</span>
                                    <span class="caption-helper">#{result.selfConn.length} 筆</span>
                                </div>
                                <div class="inputs">
                                    <input type="hidden" name="_csrf" value="#{result._token}"/>
                                    <div class="portlet-input input-inline input-small ">
                                        <div class="input-icon right">
                                            <a href="javascript:;" id="deleteSelectRow" class="btn default" data-link="/system/connection/delete" >刪除所選項目</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="task-content">
                                    <div class="scroller" style="height: 450px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                                        <!-- START TASK LIST -->
                                        <ul class="task-list">
                                            if( result.selfConn.length > 0 )
                                                each row in result.selfConn
                                                    <li>
                                                        <div class="task-title">
                                                            <input type="checkbox" name="id[]" value="#{row.id}">
                                                            <span class="task-title-sp">
                                                                a( href=baseUrl+"/system/connection/show/"+row.id) #{row.title}
                                                            </span>
                                                            if( row.is_delete )
                                                                <span class="label label-sm label-danger">此筆已刪除，其他人看不到</span>
                                                        </div>
                                                    </li>
                                        </ul>
                                        <!-- END START TASK LIST -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                <div class="col-md-4 " >
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget listHeight">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font-color hide"></i>
                                <span class="caption-subject theme-font-color bold uppercase">近期車間即將上線相關提醒</span>
                                <span class="caption-helper">#{result.nearConnect.length} 筆</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="task-content">
                                <div class="scroller" style="height: 450px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                                    <!-- START TASK LIST -->
                                    <ul class="task-list">
                                        if( result.nearConnect.length > 0 )
                                            each row in result.nearConnect
                                                <li>
                                                    <div class="task-title">
                                                        <span class="task-title-sp">
                                                            a( href=baseUrl+"/system/connection/show/"+row.id) #{row.title}
                                                        </span>
                                                    </div>
                                                </li>
                                    </ul>
                                    <!-- END START TASK LIST -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
        <div>
    </div>

block script
    <script src="/assets/reload.js"></script>
    <script src="/javascripts/selectDelete.js"></script>