extends ../dashboard

block content
    -var postLink = ( result.canEdit )? `${baseUrl}/system/connection/update` : ``
    -var blockSet = ( result.canEdit )? `6` : `12`;
    -var recordBlockSet = ( result.canEdit )? `6` : `4`;
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>聯絡單管理 <small>Connection Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href=baseUrl+"/system/connection")
                            <i class="icon-action-undo"> 回列表頁</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="#{baseUrl}/system/connection">聯絡單列表</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">修改</a>
            </ul>
        <div>
        <div class="col-md-#{blockSet}">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase">#{result.data.title} - 詳細聯絡單</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        if( result.allDeparment )
                            <div class="form-group form-md-line-input">
                                <div class="form-control" id="form_control_0">
                                    each row in result.allDeparment
                                        if( result.Departs.indexOf(row.ME001)>0 )
                                            <a href="javascript:;" class="btn default green-stripe">#{row.ME002}</a>
                                </div>
                                <label for="form_control_0">聯絡對象部門</label>
                            </div>
                        <div class="form-group form-md-line-input">
                            <span class="form-control"  id="form_control_1" >#{result.data.title}</span>
                            <label for="form_control_1">聯絡單標題</label>

                        </div>
                        <div class="form-group form-md-line-input">
                            <div class="form-control" id="form_control_2">
                                <a href="/system/connection/download/#{result.data.id}" target="_blank">
                                    <i class=" icon-cloud-download">#{result.data.file}</i>
                                </a>
                            </div>
                            <label for="form_control_3">附加檔案</label>
                        </div>
                        //- <div class="form-group form-md-line-input has-success">
                        //-     <textarea class="form-control" rows="13" id="form_control_4" name="content" placeholder="Enter more text">#{result.data.content}</textarea>
                        //-     <label for="form_control_4">聯絡單內容</label>
                        //- </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <span class="form-control"  id="form_control_5" >#{result.data.remind_date}</span>
                        <label for="form_control_5">聯絡單條醒日期</label>

                    </div>
                    <div class="form-group">
                        <label for="form_control_6">聯絡單關鍵字</label>
                        if( result.data.keyword )
                            -var keyword = (result.data.keyword).split(",");
                            <div>
                                each row in keyword
                                    a( href="javascript:;" data-title="#{row}" class="keywordBtn btn default" ) #{row}
                            </div>
                    </div>
                    if( result.Record.length > 0 )
                            <div class="form-group form-md-line-input">
                                <label for="form_control_5">觀看紀錄</label>
                                <div id="form_control_5">
                                    each row in result.Record
                                        <div class="col-md-#{recordBlockSet}">#{row.Info.role.ME002}-#{row.Info.user_name} [#{row.createdAt} ]</div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        if( result.canEdit )
            <div class="col-md-#{blockSet}">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-settings font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase">編輯</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form action="#{postLink}" method="POST" enctype="multipart/form-data">
                            <div class="form-body">
                                input(type="hidden" name="_csrf" value=result._token)
                                input(type="hidden" name="id" value=result.data.id)
                                if( 0 )
                                    <div class="form-group form-md-line-input">
                                        if(result.allDeparment)
                                            <select class="form-control select2me" name="to_department" multiple="multiple">
                                                each row in result.allDeparment
                                                    -var onSelected = ( result.Departs.indexOf(row.ME001)>0 )? `selected` : ``
                                                    <option value="#{row.ME001}" #{onSelected}>#{row.ME002}</option>
                                            </select>
                                        <label for="form_control_0">選擇聯絡對象部門</label>
                                    </div>
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" data-request="true" id="form_control_1" name="title" placeholder="輸入聯絡單標題" value="#{result.data.title}">
                                    <label for="form_control_1">聯絡單標題</label>

                                </div>
                                <div class="form-group form-md-line-input">
                                    <div class="form-control" id="form_control_2">
                                        input(type="file" name="addfile"  value=result.data.file)
                                    </div>
                                    <label for="form_control_2">上傳附加檔案</label>
                                </div>
                                //- <div class="form-group form-md-line-input has-success">
                                //-     <textarea class="form-control" rows="13" id="form_control_4" data-request="true" name="content" placeholder="Enter more text">#{result.data.content}</textarea>
                                //-     <label for="form_control_4">聯絡單內容</label>
                                //- </div>
                                <div class="form-group form-md-line-input">
                                    <input type="text" id="tags_1" class="form-control tags"  data-request="true" id="form_control_4" name="keyword" placeholder="輸入聯絡單關鍵字" value="#{result.data.keyword}">
                                    <label for="form_control_4">聯絡單關鍵字</label>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <input type="date" class="form-control tags" format="yyyy-mm-dd" min="#{result.today}" data-request="true" id="form_control_5" name="remind_date" placeholder="選擇聯絡單提醒日期" value="#{result.data.remind_date}">
                                    <label for="form_control_5">聯絡單提醒日期</label>
                                </div>
                                <div class="form-actions noborder">
                                    <button type="button" class="btn red" id="delete" data-link="/system/connection/delete" data-backLink="/system/connection">刪除資料</button>
                                    <button type="button" data-dismiss="modal" class="btn default">關閉</button>
                                    <button type="button" class="btn green submitBtn">儲存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <div id="modal" style="display:none;">
            <div class="portlet light tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font-color hide"></i>
                        <span class="caption-subject theme-font-color bold uppercase" id="keyword-title"></span>
                        <span class="caption-helper" id="keyword-count"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                            <ul class="task-list" id="keyword-list"></ul>
                        </div>
                    </div>
                    //- <div class="task-footer">
                    //-     <div class="btn-arrow-link pull-right">
                    //-         <a href="#ex1" rel="modal:open" class="btn default">關閉</a>
                    //-     </div>                    
                    //- </div>
                </div>
            </div>
        </div>
    </div>

block css
    <meta name="_token" content="#{result._token}" />
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/Modal/jquery.modal.min.css"/>
block script
    <script src="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    <script src="/plugin/Modal/jquery.modal.min.js"></script>

    <script src="/javascripts/tag.js"></script>
    <script src="/javascripts/submit.js"></script>
    <script src="/javascripts/delete.js"></script>
    if(result.errMessage)
        <script> swal("有必填欄位空白。","#{result.errMessage}", "error"); </script>